body {
  background-color: #71C9CE;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 7%;
}

h1 {
  color: #003865;
}
h3 {
  color: #003865;
}
